html {
    font-size: 150px;
    /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: Helvetica, "Open Sans", sans-serif;
    /* this should be the rest of the output you got from Google fonts */
    margin: 2 2 2 2;
    padding: 2 2 2 2;
}

body {
    color: blue;
}

p {
    margin: -1% 0 0 0;
    -ms-word-break: break-all;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}